<div class="mt-4">
    <form>
        <div class="form-group">
            <label for="-input">Key search</label>
            <input type="text" name="q" class="form-control" id="-input" placeholder="Enter text...">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>